<div style="float: left">
<h3>${_header}</h3>
%{ i = 0 }%
#{list items:_players, as:'player'}
    <div>
        ${player.name} ${player.proj}
        %{ if (_diff && i % 5 == 0 && i > 0) { }%
            (${_players.get(0).proj - player.proj})
        %{ } }%
        %{ if (_form) { }%
            #{form @Application.update()}
                <input type="hidden" name="player" value="${player.id}"/>
                <input type="submit" name="draft" value="draft"/>
                <input type="submit" name="remove" value="remove"/>
            #{/form}
        %{ } }%
        %{ if (_position) { }%
            (${player.position})
        %{ } }%
    </div>
    %{ i++ }%
#{/list}
</div>
